@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root{
  --primary-btn:#3498db;
  --danger-btn:#e74c3c;
  --color-white:#fff;
  --color-grey:#ecf0f1;
  --color-black:#000;
  --active-color:#e74c3c;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #f1f2f6;
}
body p, h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0 0 10px 0;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
input, button, textarea{
  font-family: inherit;
}
.add-button{
  background-color: var(--primary-btn);
  color: #fff;
  border: 1px solid #3498db;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 600;
}
.remove-button{
  background-color: var(--danger-btn);
  color: #fff;
  border: 1px solid #e74c3c;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main__wrapper{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.left__sidebar{
  display: inline-block;
  padding: 25px;
  /* -webkit-box-shadow: inset 0 0px 15px -25px rgba(0, 0, 0, 0.30), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: inset 0 0px 15px -25px rgba(0, 0, 0, 0.30), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.30);
  box-shadow: inset 0 0px 15px -25px rgba(0, 0, 0, 0.30), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.30); */
}
.left__sidebar .sidebar__item{
  padding: 0;
}
.left__sidebar .sidebar__item li{
  list-style-type: none;
  border-bottom:var(--color-grey) 1px solid;
  padding: 10px 0;
  text-transform: capitalize;
}
.left__sidebar .sidebar__item li a{
    color: var(--color-grey);
    text-decoration: none;
}
.right__wrapper{
  width: 83.333%;
  background-color: #f1f2f6;
  padding: 0 30px 30px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
.flex-container .flex-item{
  flex:27.333%;
  margin: 0 0 15px 15px;
  padding: 15px;
  border:1px solid #f1f2f6;
  background-color: #fff;
  box-shadow:5px 5px 8px rgba(0, 0, 0, 0.10);

}
.user-avatar{
  width: 80px;
  height: 80px;
  padding-bottom: 10px;
}
.user-name{
  font-weight: 700;
}
.user-avatar > img{
  border-radius: 50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  box-shadow: 0 0px 5px #948f8f;
  max-width: 100%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 30px;
  left: 36px;
  top: 36px;
  outline: none;
}
.bm-burger-button button, .bm-cross-button button{
  outline: none;
}
:focus{
  outline: none;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #34495e;
}
.bm-burger-button .burger-bars{
  height: 12% !important; 
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #34495e;
  opacity: 1 !important;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 40px !important;
  width: 40px !important;
  right: 30px !important;
}
.bm-cross{
  height: 35px !important;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top:0
}
/* General sidebar styles */
.bm-menu {
  background: #34495e;
  padding: 2.5em 1.5em 0;
  border: none;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}
/* Individual item */
.bm-item {
  display: inline-block;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
}
.user-band{
  padding: 24px;
  border-radius: 3px;
  background-color: #fcdad9;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}

.user-band button{
  position: absolute;
  right: 10px;
  top:10px;
}